.btn-primary {
  background-color: rgb(129, 213, 255);
  color: rgb(91, 92, 96);
  height: 50px;
  width: 80px;
  border: blue 1px solid;
  cursor: pointer;
  border-radius: 8px;
}

.btn-secondary {
  background-color: white;
  color: black;
  height: 50px;
  width: 80px;
  border: red 1px solid;
  cursor: pointer;
  border-radius: 8px;
}
